<div class="col-md-8 col-md-offset-2">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input
                    type="password"
                    id="newPassword"
                    class="form-control"
                    formControlName="newPassword">
        </div>
        <div class="form-group">
            <label for="confirmNewPassword">Confirm New Password</label>
            <input
                    type="password"
                    id="confirmNewPassword"
                    class="form-control"
                    formControlName="confirmNewPassword">
        </div>
        <button
                class="btn btn-primary"
                type="submit"
                [disabled]="!myForm.valid">Submit</button>
    </form>
</div>